.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 8vh;
    background-color: black;
    color:white;
    padding: 10px;
    
}


.social-icon--twitter .tooltip {
    background: white;
    color: currentColor;
  }
  
  .social-icon--twitter .tooltip:after {
    border-top-color: white;
  }
  

.social-icon:hover .tooltip {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(-50%, -150%);
            transform: translate(-50%, -150%);
  }

.tooltip {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    padding: 0.8rem 1rem;
    border-radius: 40px;
    font-size: 0.8rem;
    font-weight: bold;
    opacity: 0;
    pointer-events: none;
    text-transform: uppercase;
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1;
  }
  
  .tooltip:after {
    display: block;
    position: absolute;
    bottom: 1px;
    left: 50%;
    width: 0;
    height: 0;
    content: "";
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
  }

@keyframes imagrotate {

    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

.githubicon{
    width: 50px;
    height: 50px;
    text-align: center;
    animation: imagrotate 0.8s ease-in-out 1s forwards 1;
}

 



.profile{
   width: 50px;
   height: 50px;
   align-items: center;
   margin-right: 290px;

}

.navlinks{
    width: 35%;
    display: flex;
    justify-content: space-around;  

}

.links{
    font-size: 1.2rem;
    font-weight: 100;
    margin-right: 10px;
    cursor: pointer;
}


.mobcontent{
    display: none;
}


@media screen and (max-width: 1080px) {
     
   .profile{
      margin-right: 200px;
   }
}


@media screen and (max-width: 900px) {
     
    .navlinks{
        width: 50%;
        display: flex;
        justify-content: space-around;  
    
    }
}

@media screen and (max-width: 620px) {
   
    .nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        min-height: 40vh;
        background-color: black;
        color:white;
        padding: 10px;
    
    }
    .profile{
        width: 25%;
        height: 25%;
        text-align: center;
        align-items: center;
        margin: 0px;
        margin-top: 20px;

     
     }
    .navlinks{
        display: none;
    }

    .mobcontent{
        display: block;
        font-size: 1rem;
    }

    
    

  
}


@media screen and (max-width: 500px) {
   
    .nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        min-height: 40vh;
        background-color: black;
        color:white;
        padding: 10px;
    
    }
    .profile{
        width: 25%;
        height: 25%;
        text-align: center;
        align-items: center;
        margin: 0px;
        margin-top: 20px;

     
     }
    .navlinks{
        display: none;
    }

    .mobcontent{
        display: block;
        font-size: 0.8rem;
    
    }
}



