.loader{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #0596ff;
  position: absolute;
  top: 50%;
  left: 50%;
}

.bg{
  height: 100vh;
  background-color: black;
}

@media screen and (max-width: 500px) {
    
    .loader{
      position: absolute;
      top: 48%;
      left: 48%;
    }
}