.App {
  
  font-family: 'Montserrat', sans-serif;
  background-color: #F4F4F4;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* Social Icon Mixin */
/* Social Icons */
/* Social Icon Mixin */
/* Social Icons */
.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0px;
}

.social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 1rem;
  border-radius: 50%;
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 2.5rem;
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.social-icon:hover {
  color: #fff;
}

.social-icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(-50%, -150%);
          transform: translate(-50%, -150%);
}

.social-icon:active {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
}

.social-icon--linkedin {
  background: #000000;
  color: #fff;
}

.social-icon--linkedin .tooltip {
  background: #000000;
  color: currentColor;
}

.social-icon--linkedin .tooltip:after {
  border-top-color: #000000;
}

.social-icon--twitter {
  background: #000000;
  color: #fff;
}

.social-icon--twitter .tooltip {
  background: #000000;
  color: currentColor;
}

.social-icon--twitter .tooltip:after {
  border-top-color: #000000;
}

.social-icon--codepen {
  background: #000;
  color: #fff;
}

.social-icon--codepen .tooltip {
  background: #000;
  color: currentColor;
}

.social-icon--codepen .tooltip:after {
  border-top-color: #000;
}

.social-icon--facebook {
  background: #000000;
  color: #fff;
}

.social-icon--facebook .tooltip {
  background: #000000;
  color: currentColor;
}

.social-icon--facebook .tooltip:after {
  border-top-color: #000000;
}

.social-icon--instagram {
  background: #000000;
  color: #fff;
}

.social-icon--instagram .tooltip {
  background: #000000;
  color: currentColor;
}

.social-icon--instagram .tooltip:after {
  border-top-color: #000000;
}

.social-icon--dribbble {
  background: #ef5a92;
  color: #fff;
}

.social-icon--dribbble .tooltip {
  background: #ef5a92;
  color: currentColor;
}

.social-icon--dribbble .tooltip:after {
  border-top-color: #ef5a92;
}

.social-icon--github {
  background: #000000;
  color: #fff;
}

.social-icon--github .tooltip {
  background: #000000;
  color: currentColor;
}

.social-icon--github .tooltip:after {
  border-top-color: #000000;
}

.social-icon i {
  position: relative;
  top: 1px;
}

/* Tooltips */
.tooltip {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0.8rem 1rem;
  border-radius: 40px;
  font-size: 0.8rem;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  text-transform: uppercase;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
}

.tooltip:after {
  display: block;
  position: absolute;
  bottom: 1px;
  left: 50%;
  width: 0;
  height: 0;
  content: "";
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
}
/*# sourceMappingURL=Footer.css.map */




@media screen and (max-width: 620px) {


  .social-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 2rem;
    border-radius: 50%;
    cursor: pointer;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 2.5rem;
    text-decoration: none;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
  }

  .social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px;
    margin: 0px;
   
  }

  .tooltip {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    padding: 0.5rem 0.8rem;
    border-radius: 40px;
    font-size: 0.7rem;
    font-weight: bold;
    opacity: 0;
    pointer-events: none;
    text-transform: uppercase;
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1;
  }
  
  .tooltip:after {
    display: block;
    position: absolute;
    bottom: 1px;
    left: 50%;
    width: 0;
    height: 0;
    content: "";
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
  }
  

}